.form__container{
    display: flex;
    width: 759px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    border-radius: 10px;
    padding: 15px;
}

.input__container{   
    width: 100%;     
}

.textarea__container{
    width: 100%;
}

.submit__container{
    width: 100%;
}