<h2> Créer un formulaire </h2>
<form class="form__container">
    <!-- Titre du formulaire -->
    <app-input-form class="input__container" [inputLabelText] = "'titre du formulaire'" [inputPlaceholderText]="'Ecrivez une description'"></app-input-form>

    <!-- Textaera - Description du fomulaire -->
    <app-textarea-form class="textarea__container" [inputLabelText]="'description'" [textareaPlaceholderText] = "'Ecrivez une description...'"></app-textarea-form>

    <!-- selecyionner une couleur d'écriture -->
    <app-color-form-button-container></app-color-form-button-container>
    <!-- date picker -->
    <app-date-picker-form></app-date-picker-form>
    
    <!-- bouton de soumission du formulaire -->
    <app-submit-button class="submit__container" [submitButtonText] ="'enregistrer le formulaire'"></app-submit-button>
</form>
