<div class="textarea__outer-container">
    <div class="textarea__container">
        <label class="input__label" for="formDescription">{{ inputLabelText }}</label>
        <textarea class="input__border" name="formDescription" id="" cols="30" rows="10" [placeholder]="textareaPlaceholderText"></textarea>
    </div>    
</div>

