.submit__outer-container{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 2em;    
}

.button::first-letter{
    text-transform: capitalize;
}

input[type=submit]::first-letter
{
    text-transform: capitalize;
}