<div class="input__outer-container">
    <div class="input__container">
        <label class="input__label" for="name"> {{ inputLabelText }} </label>
        <input class="input__border input__text" type="text" name="name" [placeholder] = "inputPlaceholderText" />
    </div>
</div>