.input__container{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 1em;
    
    
}

.input__outer-container{
    display: flex;
    width: 100%;  
}

.input__text{
    height: 40px;
    font-weight: 400;
}

