.button--red{
    background-color: red;
}

.button--blue{
    background-color: #2D33A2;
}

.button--light-blue{
    background-color: #54D1FF;
}

.button--orange{
    background-color: #FF9C00;
}

.button--light-orange{
    background-color: #FFCC00;
}

.button--light-pink{
    background-color: #FF83EC;
}

.button--pink{    
    background-color: #BA00FF;
}