/* You can add global styles to this file, and also import other style files */
*{
    box-sizing: border-box;
}

.input__label{
    font-weight: 600;
    font-size: 11px;
    padding-bottom: 10px;
    text-transform: uppercase;
    color: #9B9B9B;
}

.input__border{
    border: 0.5px solid #E1E1E1;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 14px;
}

.button{
    background-color:#00C36F ;
    color: white;
    padding: 1em 3em;
    border-radius: 50px;    
    border: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 15px;   
    
    
}

button::first-letter{
    text-transform:capitalize !important
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
